In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.shape

(13320, 9)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [7]:
for col in data.columns:
    print(data[col].value_counts())
    print('-------------------------------------')

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
-------------------------------------
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
16-Oct               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
-------------------------------------
location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64
-------------------------------------
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
43 Bedroom       1
16 BHK           1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64
-------------------------------------
society
GrrvaGr    80
PrarePa    76
Prtates    59
Sryalan    59
GMown E    56
           ..
SNadeAr     1
DSellil     1
Shensit     1
VKvenas     1
Vemes H     1
Name: count, Length: 2688, dtype: int64
-------------------------------------
total_sqft
1200           843
1100           221
1500           205
2400           196
600            180
              ...
2920             1
5665.84          1
1369             1
7150             1
1200 - 1470      1
Name: count, Length: 2117, dtype: int64
-------------------------------------
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
11.0       3
13.0       3
16.0       2
27.0       1
14.0       1
40.0       1
15.0       1
18.0       1
Name: count, dtype: int64
-------------------------------------
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
-------------------------------------
price
75.00    310
65.00    302
55.00    275
60.00    270
45.00    240
        ...
43.04      1
61.11      1
46.56      1
42.54      1
47.35      1
Name: count, Length: 1994, dtype: int64
-------------------------------------

In [8]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [9]:
# we'll drop area type,society, availabilty, balcony
data.drop(columns=['area_type', 'availability', 'society', 'balcony'], inplace=True)

In [11]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [12]:
# we fill null values in the remaining columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [13]:
data['location'].value_counts()

location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64

In [14]:
# lets fill null values in loation column with Thanisandra
data['location']=data['location'].fillna('Thanisandra')

In [15]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
43 Bedroom       1
16 BHK           1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [16]:
data['size']=data['size'].fillna('2 BHK')

In [17]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
 5   bhk         13320 non-null  int64
dtypes: float64(2), int64(1), object(3)
memory usage: 624.5+ KB

In [19]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [21]:
# we need to fix theese data analomolies in our data
data[data.bhk > 20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [22]:
# here instead of single integeer we have range of values in column
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [25]:
# we replace he value with mean of the range
def convert_range(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0]) + float(temp[1])) / 2
    try:
        return float(x)
    except:
        return None

In [26]:
data['total_sqft']=data['total_sqft'].apply(convert_range)

In [29]:
data.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [28]:
data['price_per_sqft']=data['price'] * 100000 / data['total_sqft']

In [30]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [31]:
data['location'].value_counts()

location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        235
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64

In [32]:
# lets replace loations with count<10 with "other" and also trim the location names
data['location'] = data['location'].apply(lambda x:x.strip())

In [34]:
loc_cnt = data['location'].value_counts()

In [35]:
 loc_cnt

location
Whitefield                              541
Sarjapur  Road                          399
Electronic City                         304
Kanakpura Road                          273
Thanisandra                             238
                                       ...
Duddanahalli                              1
Doddanakunte                              1
Jogupalya                                 1
Subhash Nagar                             1
Kengeri Satellite Town KHB Apartment      1
Name: count, Length: 1294, dtype: int64

In [37]:
loc_cnt_10 = loc_cnt[loc_cnt<=10]
loc_cnt_10

location
Basapura                                10
Dairy Circle                            10
Nagappa Reddy Layout                    10
Naganathapura                           10
Sector 1 HSR Layout                     10
                                        ..
Duddanahalli                             1
Doddanakunte                             1
Jogupalya                                1
Subhash Nagar                            1
Kengeri Satellite Town KHB Apartment     1
Name: count, Length: 1053, dtype: int64

In [38]:
data['location']=data['location'].apply(lambda x:"other" if x in loc_cnt_10 else x)

In [39]:
data['location'].value_counts()

location
other                        2885
Whitefield                    541
Sarjapur  Road                399
Electronic City               304
Kanakpura Road                273
                             ...
Tindlu                         11
Marsur                         11
2nd Phase Judicial Layout      11
Thyagaraja Nagar               11
HAL 2nd Stage                  11
Name: count, Length: 242, dtype: int64

In [40]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [42]:
# i filtered if sqft on 1bhk < 300
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [43]:
data = data[((data['total_sqft']/data['bhk']) >= 300)]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [45]:
data.shape

(12530, 7)

In [46]:
data['price_per_sqft'].describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [49]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby("location"):
        mean = np.mean(subdf.price_per_sqft)
        sd = np.std(subdf.price_per_sqft)
        diff = subdf[(subdf.price_per_sqft > (mean - sd)) & (subdf.price_per_sqft <= (mean + sd))]
        df_output = pd.concat([df_output, diff], ignore_index=True)
    return df_output

# Apply the function
data = remove_outliers_sqft(data)

# Show updated summary
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [50]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }

        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(
                    exclude_indices, 
                    bhk_df[bhk_df.price_per_sqft < (stats['mean'])].index.values
                )

    return df.drop(exclude_indices, axis='index')

In [51]:
data = bhk_outlier_remover(data)

In [53]:
data.shape

(7360, 7)

In [54]:
# now lets remove size,priceperdqft columns since we removed outliers
data.drop(columns=['size', 'price_per_sqft'], inplace=True)

Cleaned Data

In [55]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [56]:
data.to_csv("cleaned_data.csv")

In [81]:
X=data.drop(columns=['price'])
y=data['price']
data

                  location  total_sqft  bath  price  bhk
0      1st Block Jayanagar      2850.0   4.0  428.0    4
1      1st Block Jayanagar      1630.0   3.0  194.0    3
2      1st Block Jayanagar      1875.0   2.0  235.0    3
3      1st Block Jayanagar      1200.0   2.0  130.0    3
4      1st Block Jayanagar      1235.0   2.0  148.0    2
...                    ...         ...   ...    ...  ...
10292                other      1200.0   2.0   70.0    2
10293                other      1800.0   1.0  200.0    1
10296                other      1353.0   2.0  110.0    2
10297                other       812.0   1.0   26.0    1
10300                other      3600.0   5.0  400.0    4

[7360 rows x 5 columns]

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [82]:
print(X_train.shape)
print(X_test.shape)
X_train

(5888, 4)
(1472, 4)

                   location  total_sqft  bath  bhk
10044                 other       660.0   2.0    2
9216                  other      1200.0   4.0    4
3157            Hennur Road      1445.0   2.0    3
4844   Lakshminarayana Pura      1200.0   2.0    2
1       1st Block Jayanagar      1630.0   3.0    3
...                     ...         ...   ...  ...
6062               Sarjapur      1175.0   2.0    2
3985              Kambipura       883.0   2.0    2
2007        Electronic City      1575.0   3.0    3
3197                  Hoodi       706.0   1.0    1
3342              Hosa Road      1243.0   2.0    2

[5888 rows x 4 columns]

In [64]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['location']),
    remainder='passthrough'
)

In [66]:
scaler = StandardScaler()

In [71]:
pipe = make_pipeline(column_trans, LinearRegression())
pipe.fit(X_train, y_train)

C:\Users\yaswanth\python\Lib\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('linearregression', LinearRegression())])

In [72]:
y_pred_lr = pipe.predict(X_test)

In [73]:
r2_score(y_test, y_pred_lr)

0.8296447780857288

In [76]:
# Lasso
pipe = make_pipeline(column_trans, Lasso())
pipe.fit(X_train, y_train)
y_pred_Lasso = pipe.predict(X_test)
r2_score(y_test, y_pred_Lasso)

0.6801781896688814

In [75]:
# Ridge
pipe = make_pipeline(column_trans, Ridge())
pipe.fit(X_train, y_train)
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test, y_pred_ridge)

0.8276855716126621

In [78]:
print("without regularization: ", r2_score(y_test, y_pred_lr))
print("Lasso: ", r2_score(y_test, y_pred_Lasso))
print("Ridge: ", r2_score(y_test, y_pred_ridge))

without regularization:  0.8296447780857288
Lasso:  0.6801781896688814
Ridge:  0.8276855716126621

In [80]:
import pickle
pickle.dump(pipe, open('ridgemodel.pkl','wb'))

In [83]:
from sklearn import set_config
set_config(display='diagram')

pipe.named_steps['columntransformer'].get_feature_names_out()

array(['onehotencoder__location_1st Block Jayanagar',
       'onehotencoder__location_1st Phase JP Nagar',
       'onehotencoder__location_2nd Phase Judicial Layout',
       'onehotencoder__location_2nd Stage Nagarbhavi',
       'onehotencoder__location_5th Block Hbr Layout',
       'onehotencoder__location_5th Phase JP Nagar',
       'onehotencoder__location_6th Phase JP Nagar',
       'onehotencoder__location_7th Phase JP Nagar',
       'onehotencoder__location_8th Phase JP Nagar',
       'onehotencoder__location_9th Phase JP Nagar',
       'onehotencoder__location_AECS Layout',
       'onehotencoder__location_Abbigere',
       'onehotencoder__location_Akshaya Nagar',
       'onehotencoder__location_Ambalipura',
       'onehotencoder__location_Ambedkar Nagar',
       'onehotencoder__location_Amruthahalli',
       'onehotencoder__location_Anandapura',
       'onehotencoder__location_Ananth Nagar',
       'onehotencoder__location_Anekal',
       'onehotencoder__location_Anjanapura',
       'onehotencoder__location_Ardendale',
       'onehotencoder__location_Arekere',
       'onehotencoder__location_Attibele',
       'onehotencoder__location_BEML Layout',
       'onehotencoder__location_BTM 2nd Stage',
       'onehotencoder__location_BTM Layout',
       'onehotencoder__location_Babusapalaya',
       'onehotencoder__location_Badavala Nagar',
       'onehotencoder__location_Balagere',
       'onehotencoder__location_Banashankari',
       'onehotencoder__location_Banashankari Stage II',
       'onehotencoder__location_Banashankari Stage III',
       'onehotencoder__location_Banashankari Stage V',
       'onehotencoder__location_Banashankari Stage VI',
       'onehotencoder__location_Banaswadi',
       'onehotencoder__location_Banjara Layout',
       'onehotencoder__location_Bannerghatta',
       'onehotencoder__location_Bannerghatta Road',
       'onehotencoder__location_Basavangudi',
       'onehotencoder__location_Basaveshwara Nagar',
       'onehotencoder__location_Battarahalli',
       'onehotencoder__location_Begur',
       'onehotencoder__location_Begur Road',
       'onehotencoder__location_Bellandur',
       'onehotencoder__location_Benson Town',
       'onehotencoder__location_Bharathi Nagar',
       'onehotencoder__location_Bhoganhalli',
       'onehotencoder__location_Billekahalli',
       'onehotencoder__location_Binny Pete',
       'onehotencoder__location_Bisuvanahalli',
       'onehotencoder__location_Bommanahalli',
       'onehotencoder__location_Bommasandra',
       'onehotencoder__location_Bommasandra Industrial Area',
       'onehotencoder__location_Bommenahalli',
       'onehotencoder__location_Brookefield',
       'onehotencoder__location_Budigere',
       'onehotencoder__location_CV Raman Nagar',
       'onehotencoder__location_Chamrajpet',
       'onehotencoder__location_Chandapura',
       'onehotencoder__location_Channasandra',
       'onehotencoder__location_Chikka Tirupathi',
       'onehotencoder__location_Chikkabanavar',
       'onehotencoder__location_Chikkalasandra',
       'onehotencoder__location_Choodasandra',
       'onehotencoder__location_Cooke Town',
       'onehotencoder__location_Cox Town',
       'onehotencoder__location_Cunningham Road',
       'onehotencoder__location_Dasanapura',
       'onehotencoder__location_Dasarahalli',
       'onehotencoder__location_Devanahalli',
       'onehotencoder__location_Devarachikkanahalli',
       'onehotencoder__location_Dodda Nekkundi',
       'onehotencoder__location_Doddaballapur',
       'onehotencoder__location_Doddakallasandra',
       'onehotencoder__location_Doddathoguru',
       'onehotencoder__location_Domlur',
       'onehotencoder__location_Dommasandra',
       'onehotencoder__location_EPIP Zone',
       'onehotencoder__location_Electronic City',
       'onehotencoder__location_Electronic City Phase II',
       'onehotencoder__location_Electronics City Phase 1',
       'onehotencoder__location_Frazer Town',
       'onehotencoder__location_GM Palaya',
       'onehotencoder__location_Garudachar Palya',
       'onehotencoder__location_Giri Nagar',
       'onehotencoder__location_Gollarapalya Hosahalli',
       'onehotencoder__location_Gottigere',
       'onehotencoder__location_Green Glen Layout',
       'onehotencoder__location_Gubbalala',
       'onehotencoder__location_Gunjur',
       'onehotencoder__location_HAL 2nd Stage',
       'onehotencoder__location_HBR Layout',
       'onehotencoder__location_HRBR Layout',
       'onehotencoder__location_HSR Layout',
       'onehotencoder__location_Haralur Road',
       'onehotencoder__location_Harlur', 'onehotencoder__location_Hebbal',
       'onehotencoder__location_Hebbal Kempapura',
       'onehotencoder__location_Hegde Nagar',
       'onehotencoder__location_Hennur',
       'onehotencoder__location_Hennur Road',
       'onehotencoder__location_Hoodi',
       'onehotencoder__location_Horamavu Agara',
       'onehotencoder__location_Horamavu Banaswadi',
       'onehotencoder__location_Hormavu',
       'onehotencoder__location_Hosa Road',
       'onehotencoder__location_Hosakerehalli',
       'onehotencoder__location_Hoskote',
       'onehotencoder__location_Hosur Road',
       'onehotencoder__location_Hulimavu',
       'onehotencoder__location_ISRO Layout',
       'onehotencoder__location_ITPL',
       'onehotencoder__location_Iblur Village',
       'onehotencoder__location_Indira Nagar',
       'onehotencoder__location_JP Nagar',
       'onehotencoder__location_Jakkur',
       'onehotencoder__location_Jalahalli',
       'onehotencoder__location_Jalahalli East',
       'onehotencoder__location_Jigani',
       'onehotencoder__location_Judicial Layout',
       'onehotencoder__location_KR Puram',
       'onehotencoder__location_Kadubeesanahalli',
       'onehotencoder__location_Kadugodi',
       'onehotencoder__location_Kaggadasapura',
       'onehotencoder__location_Kaggalipura',
       'onehotencoder__location_Kaikondrahalli',
       'onehotencoder__location_Kalena Agrahara',
       'onehotencoder__location_Kalyan nagar',
       'onehotencoder__location_Kambipura',
       'onehotencoder__location_Kammanahalli',
       'onehotencoder__location_Kammasandra',
       'onehotencoder__location_Kanakapura',
       'onehotencoder__location_Kanakpura Road',
       'onehotencoder__location_Kannamangala',
       'onehotencoder__location_Karuna Nagar',
       'onehotencoder__location_Kasavanhalli',
       'onehotencoder__location_Kasturi Nagar',
       'onehotencoder__location_Kathriguppe',
       'onehotencoder__location_Kaval Byrasandra',
       'onehotencoder__location_Kenchenahalli',
       'onehotencoder__location_Kengeri',
       'onehotencoder__location_Kengeri Satellite Town',
       'onehotencoder__location_Kereguddadahalli',
       'onehotencoder__location_Kodichikkanahalli',
       'onehotencoder__location_Kodigehaali',
       'onehotencoder__location_Kodigehalli',
       'onehotencoder__location_Kodihalli',
       'onehotencoder__location_Kogilu',
       'onehotencoder__location_Konanakunte',
       'onehotencoder__location_Koramangala',
       'onehotencoder__location_Kothannur',
       'onehotencoder__location_Kothanur',
       'onehotencoder__location_Kudlu',
       'onehotencoder__location_Kudlu Gate',
       'onehotencoder__location_Kumaraswami Layout',
       'onehotencoder__location_Kundalahalli',
       'onehotencoder__location_LB Shastri Nagar',
       'onehotencoder__location_Laggere',
       'onehotencoder__location_Lakshminarayana Pura',
       'onehotencoder__location_Lingadheeranahalli',
       'onehotencoder__location_Magadi Road',
       'onehotencoder__location_Mahadevpura',
       'onehotencoder__location_Mahalakshmi Layout',
       'onehotencoder__location_Mallasandra',
       'onehotencoder__location_Malleshpalya',
       'onehotencoder__location_Malleshwaram',
       'onehotencoder__location_Marathahalli',
       'onehotencoder__location_Margondanahalli',
       'onehotencoder__location_Marsur',
       'onehotencoder__location_Mico Layout',
       'onehotencoder__location_Munnekollal',
       'onehotencoder__location_Murugeshpalya',
       'onehotencoder__location_Mysore Road',
       'onehotencoder__location_NGR Layout',
       'onehotencoder__location_NRI Layout',
       'onehotencoder__location_Nagarbhavi',
       'onehotencoder__location_Nagasandra',
       'onehotencoder__location_Nagavara',
       'onehotencoder__location_Nagavarapalya',
       'onehotencoder__location_Narayanapura',
       'onehotencoder__location_Neeladri Nagar',
       'onehotencoder__location_Nehru Nagar',
       'onehotencoder__location_OMBR Layout',
       'onehotencoder__location_Old Airport Road',
       'onehotencoder__location_Old Madras Road',
       'onehotencoder__location_Padmanabhanagar',
       'onehotencoder__location_Pai Layout',
       'onehotencoder__location_Panathur',
       'onehotencoder__location_Parappana Agrahara',
       'onehotencoder__location_Pattandur Agrahara',
       'onehotencoder__location_Poorna Pragna Layout',
       'onehotencoder__location_Prithvi Layout',
       'onehotencoder__location_R.T. Nagar',
       'onehotencoder__location_Rachenahalli',
       'onehotencoder__location_Raja Rajeshwari Nagar',
       'onehotencoder__location_Rajaji Nagar',
       'onehotencoder__location_Rajiv Nagar',
       'onehotencoder__location_Ramagondanahalli',
       'onehotencoder__location_Ramamurthy Nagar',
       'onehotencoder__location_Rayasandra',
       'onehotencoder__location_Sahakara Nagar',
       'onehotencoder__location_Sanjay nagar',
       'onehotencoder__location_Sarakki Nagar',
       'onehotencoder__location_Sarjapur',
       'onehotencoder__location_Sarjapur  Road',
       'onehotencoder__location_Sarjapura - Attibele Road',
       'onehotencoder__location_Sector 2 HSR Layout',
       'onehotencoder__location_Sector 7 HSR Layout',
       'onehotencoder__location_Seegehalli',
       'onehotencoder__location_Shampura',
       'onehotencoder__location_Shivaji Nagar',
       'onehotencoder__location_Singasandra',
       'onehotencoder__location_Somasundara Palya',
       'onehotencoder__location_Sompura',
       'onehotencoder__location_Sonnenahalli',
       'onehotencoder__location_Subramanyapura',
       'onehotencoder__location_Sultan Palaya',
       'onehotencoder__location_TC Palaya',
       'onehotencoder__location_Talaghattapura',
       'onehotencoder__location_Thanisandra',
       'onehotencoder__location_Thigalarapalya',
       'onehotencoder__location_Thubarahalli',
       'onehotencoder__location_Thyagaraja Nagar',
       'onehotencoder__location_Tindlu',
       'onehotencoder__location_Tumkur Road',
       'onehotencoder__location_Ulsoor',
       'onehotencoder__location_Uttarahalli',
       'onehotencoder__location_Varthur',
       'onehotencoder__location_Varthur Road',
       'onehotencoder__location_Vasanthapura',
       'onehotencoder__location_Vidyaranyapura',
       'onehotencoder__location_Vijayanagar',
       'onehotencoder__location_Vishveshwarya Layout',
       'onehotencoder__location_Vishwapriya Layout',
       'onehotencoder__location_Vittasandra',
       'onehotencoder__location_Whitefield',
       'onehotencoder__location_Yelachenahalli',
       'onehotencoder__location_Yelahanka',
       'onehotencoder__location_Yelahanka New Town',
       'onehotencoder__location_Yelenahalli',
       'onehotencoder__location_Yeshwanthpur',
       'onehotencoder__location_other', 'remainder__total_sqft',
       'remainder__bath', 'remainder__bhk'], dtype=object)

In [85]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
import pickle

# Load cleaned data
data = pd.read_csv("cleaned_data.csv")
X = data.drop(columns=['price'])
y = data['price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Define transformers
categorical = ['location']
numerical = ['total_sqft', 'bath', 'bhk']

column_trans = ColumnTransformer([
    ('ohe', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical),
    ('scaler', StandardScaler(), numerical)
])

# Create pipeline
pipe = make_pipeline(column_trans, Ridge())

# Train the model
pipe.fit(X_train, y_train)

# Save the model
pickle.dump(pipe, open('ridgemodel.pkl', 'wb'))